.required-details {
    color: red;
}
.booking-details{
    font-size: 30px;
    text-align: center;
}
.repair-order-success {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
.repair-detail-card{
    border: none;
}
.request-status{
    margin-left: 50.5rem;
}


@media only screen and (max-width: 991px) {
  .remove_colon_2 {
    display: none;
  }
  .remove_colon {
    display: none;
  }
}
@media only screen and (max-width: 767px){
  .cus-col{
    margin: 0.33rem 0rem !important;
  }
}
.email {
    overflow-wrap: break-word;
}
.cus-label{
    font-weight:500 !important;
    font-size: 0.9rem !important;
}
.cus-value{
    font-size: 0.9rem !important;
}
.form-label {
    margin-bottom: 0.3rem !important;
    font-weight:500;
}
.stat-text {
    font-size: 0.9rem;
}
.c-label {
    font-size: 0.85rem !important;
    display: block;
    margin-bottom: -4px;
}

.v-middle {
    vertical-align: middle
}

.c-value{
    font-weight: 500 !important;
    font-size: 0.95rem !important;
    margin-bottom: 30px;
}

.c-field{
    margin-bottom: 10px;
}

.status-badge{
    border-radius: 4px;
    padding: 1px 4px 3px 4px;
    font-size: 13px;
}